<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/profile.css">
  </head>
  <body>
    <div class="bg-dark text-white" >
        <div class="container">
          <h5 id="main-header">Fee Management System</h5>
        </div>
      </div>
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col pro">
            User Name
          </div>
          <div class="card" style="width: 18rem;">
            <img src="static/images/myImg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">User Id</h5>
              <p class="card-text">User Details</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="col">
            
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>