body{
    background-color:rgba(140, 40, 22, 0.525) !important;
}
* {
    padding: 0;
    margin: 0;
  }
  #main-header {
    background-color: black;
    color: white;
    padding: 20px;
    /* padding-left: 30px; */
  }
  #card{
    background-color:rgba(153, 133, 133, 0.594);
  }
  #card-subtitle{
    margin-top: 0.5rem !important;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }